<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355328288359-v2e88vb7v8e20ceka3dabqtvgi756kgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355328288359-v2e88vb7v8e20ceka3dabqtvgi756kgl</string>
	<key>API_KEY</key>
	<string>AIzaSyDS6-9MRY4QZ6AgLCdePhbOto7TaiBihAg</string>
	<key>GCM_SENDER_ID</key>
	<string>355328288359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashxchange</string>
	<key>PROJECT_ID</key>
	<string>cashxchange-a07f7</string>
	<key>STORAGE_BUCKET</key>
	<string>cashxchange-a07f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355328288359:ios:2583d3a14799327f4c56c2</string>
</dict>
</plist>